In [2]:
'''
Read the msm top features and the msw top features in separate dataframes
Include an 'Other' column
Include a 'Target' column
Merge the two dataframes by columns
Classify Feature Importance using Random Forest.

'''

"\nRead the msm top features and the msw top features in separate dataframes\nInclude an 'Other' column\nInclude a 'Target' column\nMerge the two dataframes by columns\nClassify Feature Importance using Random Forest.\n\n"

In [2]:
#This file contains the interaction between msm and msw variables

import pandas as pd
df_msm = pd.read_csv('msm_tt_rel_abundance_r.csv')
df_msw = pd.read_csv('msw_tt_rel_abundance_r.csv')
df_msm.head()

,d5__lactobacillus,d5__corynebacterium1,d5__gardnerella,d5__sneathia,d5__finegoldia,d5__anaerococcus,d5__peptoniphilus,d5__staphylococcus,d5__streptococcus,d5__veillonella,Other
0,0.551265,0.092360,0.050879,0.049012,0.016895,0.034048,0.023878,0.015029,0.029671,0.004763,0.132201
1,0.454743,0.212829,0.059286,0.030143,0.063200,0.017686,0.031971,0.021171,0.016771,0.005800,0.086400
2,0.216172,0.093996,0.041399,0.120857,0.011143,0.019226,0.009627,0.018468,0.014511,0.107834,0.346768
3,0.480576,0.219067,0.055967,0.023484,0.015089,0.012401,0.022442,0.022387,0.011742,0.006365,0.130480
4,0.210626,0.154954,0.038907,0.070119,0.010531,0.115957,0.030491,0.082203,0.048628,0.007358,0.230226

In [4]:
## modify the df_msm dataframe

feature_list = ['d5__lactobacillus','d5__corynebacterium1','d5__gardnerella','d5__sneathia','d5__finegoldia','d5__anaerococcus','d5__peptoniphilus','d5__staphylococcus','d5__streptococcus',
            'd5__veillonella','Other','Target']  

df_msm['Target']=1
df_msm_mod = df_msm[feature_list]
df_msm_mod.head()

,d5__lactobacillus,d5__corynebacterium1,d5__gardnerella,d5__sneathia,d5__finegoldia,d5__anaerococcus,d5__peptoniphilus,d5__staphylococcus,d5__streptococcus,d5__veillonella,Other,Target
0,0.551265,0.092360,0.050879,0.049012,0.016895,0.034048,0.023878,0.015029,0.029671,0.004763,0.132201,1
1,0.454743,0.212829,0.059286,0.030143,0.063200,0.017686,0.031971,0.021171,0.016771,0.005800,0.086400,1
2,0.216172,0.093996,0.041399,0.120857,0.011143,0.019226,0.009627,0.018468,0.014511,0.107834,0.346768,1
3,0.480576,0.219067,0.055967,0.023484,0.015089,0.012401,0.022442,0.022387,0.011742,0.006365,0.130480,1
4,0.210626,0.154954,0.038907,0.070119,0.010531,0.115957,0.030491,0.082203,0.048628,0.007358,0.230226,1

In [5]:
## modify the df_msw dataframe

feature_list = ['d5__lactobacillus','d5__corynebacterium1','d5__gardnerella','d5__sneathia','d5__finegoldia','d5__anaerococcus','d5__peptoniphilus','d5__staphylococcus','d5__streptococcus',
            'd5__veillonella','Other','Target']  

df_msw['Target']=0
df_msw_mod = df_msw[feature_list]
df_msw_mod.head()

,d5__lactobacillus,d5__corynebacterium1,d5__gardnerella,d5__sneathia,d5__finegoldia,d5__anaerococcus,d5__peptoniphilus,d5__staphylococcus,d5__streptococcus,d5__veillonella,Other,Target
0,0.000106,0.398181,0.340459,0.000181,0.002206,0.005182,0.004366,0.141685,0.000453,0.000151,0.107031,0
1,0.000143,0.756168,0.000119,0.000143,0.000500,0.000417,0.000345,0.217087,0.000345,0.000071,0.024661,0
2,0.000060,0.031643,0.000090,0.000105,0.000992,0.006942,0.000841,0.020269,0.836496,0.000075,0.102487,0
3,0.000181,0.029943,0.492928,0.076144,0.001172,0.003092,0.001063,0.033651,0.000374,0.265246,0.096206,0
4,0.000053,0.132611,0.001395,0.345781,0.002883,0.288749,0.002484,0.004822,0.079869,0.095280,0.046072,0

In [6]:
## merge the two dataframes by columns

result = df_msm_mod.append(df_msw_mod)

In [7]:
result = result.sample(frac=1)
y = result['Target']
X = result.drop(['Target'],axis=1)


result.to_csv('combined_msm_msw.csv')
X.head()

,d5__lactobacillus,d5__corynebacterium1,d5__gardnerella,d5__sneathia,d5__finegoldia,d5__anaerococcus,d5__peptoniphilus,d5__staphylococcus,d5__streptococcus,d5__veillonella,Other
33,0.066761,0.375563,0.010013,0.044905,0.095030,0.124948,0.027070,0.013610,0.016788,0.008334,0.216980
19,0.355557,0.117109,0.043455,0.222866,0.008004,0.053928,0.040191,0.007181,0.014617,0.002725,0.134366
18,0.189434,0.135867,0.040189,0.067170,0.228831,0.027292,0.029640,0.016658,0.021098,0.055801,0.188020
1,0.000143,0.756168,0.000119,0.000143,0.000500,0.000417,0.000345,0.217087,0.000345,0.000071,0.024661
38,0.440132,0.125550,0.062641,0.062473,0.031455,0.014450,0.014047,0.026952,0.048056,0.004772,0.169473

In [24]:
##### slight change to the code
## we insert the combined log transformed csv here

ddf = pd.read_csv('bacteria_lt.csv')
ddf = ddf.sample(frac=1)
ddf.columns

Index(['Unnamed: 0', 'd5__lactobacillus', 'd5__corynebacterium1',
       'd5__gardnerella', 'd5__sneathia', 'd5__finegoldia', 'd5__anaerococcus',
       'd5__peptoniphilus', 'd5__staphylococcus', 'd5__streptococcus',
       'd5__veillonella', 'Other', 'status'],
      dtype='object')

In [8]:
### create the X and y set

feature_list = ['d5__lactobacillus','d5__corynebacterium1','d5__gardnerella','d5__sneathia','d5__finegoldia','d5__anaerococcus','d5__peptoniphilus','d5__staphylococcus','d5__streptococcus',
            'd5__veillonella','Other'] 

X = ddf[feature_list]
y = ddf['status']

In [20]:
## split the data set

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
#scores = cross_val_score(clf,X,y,cv=5)

clf.fit(x_train,y_train)
#y_pred = clf.predict(x_test)

print(clf.score(x_test,y_test))
# print(confusion_matrix(y_test,y_pred))


#print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

0.8275862068965517

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
import numpy as np

lreg = LogisticRegression(solver='lbfgs').fit(x_train,y_train)
#scores = cross_val_score(lreg,X,y,cv=5)
# scores
print(lreg.score(x_test,y_test))
# y_pred = lreg.predict(x_test)
# print(confusion_matrix(y_test,y_pred))

#print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

abs(lreg.coef_*100)



#print(np.std(X, 0)*lreg.coef_[0][0])

#print(np.std(X,0)*lreg.coef_[0])

0.8620689655172413

array([[100.9567905 ,  35.22576755,   2.11898402,  35.70421443,
         44.8034066 ,  75.23578167,  65.49432746,  18.81779217,
         23.91970398,  59.57404878, 108.49045939]])

In [25]:
### Random Forest Feature Importance

from sklearn.ensemble import RandomForestClassifier
rand_for = RandomForestClassifier(n_estimators = 200,max_depth=2, random_state=0)


rand_for.fit(x_train,y_train)
#scores = cross_val_score(rand_for,X,y,cv=5)
#print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
# # print(rand_for.feature_importances_)

print(rand_for.score(x_test,y_test))
#y_pred = rand_for.predict(x_test)
#print(confusion_matrix(y_test,y_pred))
print(rand_for.feature_importances_*100)
# print(X.columns)
# print(X.columns)

0.8620689655172413
[24.23603416  4.7937753   2.27671944  6.69433591  2.51475648 15.97061433
  5.06699938 10.59273769  5.63715716  8.04109082 14.17577934]

In [16]:
## Elastic Net


from sklearn.linear_model import ElasticNet
reg_enet = ElasticNet(random_state=42)
reg_enet.fit(x_train,y_train)
print(reg_enet.coef_)

[ 0.03628281  0.          0.          0.         -0.         -0.
 -0.         -0.         -0.          0.         -0.        ]

In [15]:
## Linear Regression

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
#scores = cross_val_score(reg,X,y,cv=5)
#print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
reg.fit(X,y)
print(reg.coef_)

[-1.83889469e+12 -1.83889469e+12 -1.83889469e+12 -1.83889469e+12
 -1.83889469e+12 -1.83889469e+12 -1.83889469e+12 -1.83889469e+12
 -1.83889469e+12 -1.83889469e+12 -1.83889469e+12]

In [12]:
### check for feature importance in lactobacillus
import seaborn as sns
import matplotlib.pyplot as plt


sns.lmplot(x='d5__lactobacillus',y='Target',data=result,logistic=True)
plt.title('Log Regression Lactobacillus vs Target')

plt.show()

C:\Miniconda3\envs\py36\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval